<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h1 class="title">Карточка клиента</h1>
                </div>
                <div class="content">
                    <h4>Новый пользователь</h4>

                    <form [formGroup]="myForm" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Имя</label>
                                    <input class="form-control"
                                           type="text"
                                           name="firstName"
                                           [formControl]="myForm.controls['firstName']"
                                           [(ngModel)]="user.firstName" />

                                    <div class="alert alert-danger"
                                         *ngIf="myForm.controls['firstName'].invalid
                                        && myForm.controls['firstName'].touched">
                                        Не указано имя
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Фамилия</label>
                                    <input class="form-control"
                                           type="text"
                                           name="lastName"
                                           [formControl]="myForm.controls['lastName']"
                                           [(ngModel)]="user.lastName" />

                                    <div class="alert alert-danger"
                                         *ngIf="myForm.controls['lastName'].invalid
                                        && myForm.controls['lastName'].touched">
                                        Не указана фамилия
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Возраст</label>
                                    <input class="form-control"
                                           type="number"
                                           name="age"
                                           [formControl]="myForm.controls['age']"
                                           [(ngModel)]="user.age" />

                                    <div class="alert alert-danger"
                                         *ngIf="myForm.controls['age'].invalid
                                        && myForm.controls['age'].touched">
                                        Не указан возраст
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Электронная почта</label>
                                    <input class="form-control"
                                           type="text"
                                           name="email"
                                           [formControl]="myForm.controls['email']"
                                           [(ngModel)]="user.email" />

                                    <div class="alert alert-danger"
                                         *ngIf="myForm.controls['email'].invalid
                                        && myForm.controls['email'].touched">
                                        Не указан Email
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Номер телефона</label>
                                    <input class="form-control"
                                           type="number"
                                           name="phone"
                                           [formControl]="myForm.controls['phone']"
                                           [(ngModel)]="user.phone" />

                                    <div class="alert alert-danger"
                                         *ngIf="myForm.controls['phone'].invalid
                                        && myForm.controls['phone'].touched">
                                        Не указан номер телефона
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button class="btn btn-primary"
                                            [disabled]="myForm.invalid"
                                            (click)="submit(user)">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h4>Список пользователей</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Электронная почта</th>
                <th>Номер телефона</th>
                <th colspan="2">События</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users">
                <td>{{ item.FirstName }}</td>
                <td>{{ item.LastName }}</td>
                <td>{{ item.Age }}</td>
                <td>{{ item.Email }}</td>
                <td>{{ item.Phone }}</td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <button class="btn"
                        (click)="refreshTable(user)">
                    Обновить таблицу
                </button>
            </div>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

</div>
































