<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">&nbsp;&nbsp; Angular 2 Template in VS</h4>
                </div>
                <div class="content">



                    <!--<div class="card text-center m-3">
        <h5 class="card-header">Simple GET Request with response type &lt;any&gt;</h5>
        <div class="card-body">
            Total @angular packages: {{totalAngularPackages}}
        </div>
    </div>

    <p>Имя: {{test}}</p>
    <button (click)="getProducts()">Click</button>

    <br>-->
                    <!--<input type="text" class="form-control" [(ngModel)]="carName">
    <input type="text" class="form-control" [(ngModel)]="carYear">
    <button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
    <hr>-->
                    <!--<ul>
        <li *ngFor="let car of carItem" [carItem]="car">
            'Название' {{carItem.name}}, Год: {{carItem.year}}
        </li>
    </ul>-->

                    <h3>Заглавное наименование</h3>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                Имя
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control"
                                       name="firstName"
                                       required minlength="4"
                                       [(ngModel)]="user.firstName" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                Фамилия
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control"
                                       name="lastName"
                                       [(ngModel)]="user.lastName" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                Электронная почта
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control"
                                       name="email"
                                       [(ngModel)]="user.email" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                               Номер телефона
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control"
                                       name="phone"
                                       [(ngModel)]="user.phone" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                Возраст
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control"
                                       type="number"
                                       name="age"
                                       [(ngModel)]="user.age" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary"
                                        (click)="submit(user)">
                                    Сохранить
                                </button>
                            </div>
                        </div>
                    </div>


                    <!--Реализовать таблицу-->
                    <div *ngIf="done">
                        <div>Получено от сервера:</div>
                        <div>Имя: {{receivedUser.FirstName}}</div>
                        <div>Возраст: {{receivedUser.Age}}</div>
                    </div>






                            <!--<table class="table table-sm table-bordered table-striped">
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>
            <tr>
                <td [attr.colspan]="model.getProducts().length
                {{model.getProduct(1)?.name || 'None'}}
                </td>
            </tr>
        </table>-->
                            <!--<div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control border-input" name="txtTest" id="txtTest" value=""
                           placeholder="Two-way data binding - Type here" [(ngModel)]="temp">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <label>Value in Textbox</label>
                    {{temp}}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br/>
        <div class="text-center">
            <button class="btn btn-info btn-fill btn-wd" name="btnClick" id="btnClick" (click)="btnClickedEvent()">
                Click This Button !!!
            </button>
        </div>-->
                            <br />
                        </div>
                    </div>
        </div>
    </div>
</div>