@*@{
    ViewBag.Title = "Создать карточку клиента(Angular2)";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@


@*<my-app>Loading...</my-app>*@